name: Lint

on:
  push:
    branches: [master]
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Install dependencies
        run: |
          poetry install --no-interaction --no-root

      - name: Run black
        run: |
          poetry run black --check app

      - name: Run isort
        run: |
          poetry run isort --check-only app

      - name: Run flake8
        run: |
          poetry run flake8 app

      - name: Run mypy
        run: |
          poetry run mypy app

      - name: Run pylint
        run: |
          poetry run pylint app
